In [1]:
import pandas as pd

# **Series**

In [9]:
series= pd.Series([1,2,3,4],["Sujal","Shashank","Rishu","John"])
mixed = pd.Series([1,2,"Sujal","Shashank",True])
series
mixed

0           1
1           2
2       Sujal
3    Shashank
4        True
dtype: object

In [10]:
series

Sujal       1
Shashank    2
Rishu       3
John        4
dtype: int64

In [11]:
mixed

0           1
1           2
2       Sujal
3    Shashank
4        True
dtype: object

In [12]:
print(series)
print(mixed)

Sujal       1
Shashank    2
Rishu       3
John        4
dtype: int64
0           1
1           2
2       Sujal
3    Shashank
4        True
dtype: object

# **Data Frame(df)**

In [16]:
# Dictionary
df = {
    "Name": ["Sujal","Shashank","John","Elena"],
    "Age" : [22,21,30,28],
    "Gender" : ["M","M","M","F"],
    "Indian Citizen" : [True,True,True,False]
}
df

{'Name': ['Sujal', 'Shashank', 'John', 'Elena'],
 'Age': [22, 21, 30, 28],
 'Gender': ['M', 'M', 'M', 'F'],
 'Indian Citizen': [True, True, True, False]}

In [15]:
print(df)

{'Name': ['Sujal', 'Shashank', 'John', 'Elena'], 'Age': [22, 21, 30, 28], 'Gender': ['M', 'M', 'M', 'F'], 'Indian Citizen': [True, True, True, False]}

**Note : Dictionary so to make df a dataframe always put inside paranthesis() and also add
 pd.DataFrame({}).**

In [19]:
#Data Frame(df)
DF = pd.DataFrame({
    "Name": ["Sujal","Shashank","John","Elena"],
    "Age" : [22,21,30,28],
    "Gender" : ["M","M","M","F"],
    "Indian Citizen" : [True,True,True,False]
})
DF

       Name  Age Gender  Indian Citizen
0     Sujal   22      M            True
1  Shashank   21      M            True
2      John   30      M            True
3     Elena   28      F           False

In [20]:
print(DF)

       Name  Age Gender  Indian Citizen
0     Sujal   22      M            True
1  Shashank   21      M            True
2      John   30      M            True
3     Elena   28      F           False

**Data Input/Output**

##**INPUT**

In [25]:
#Read CSV
input_df=pd.read_csv("/content/sample_data/mnist_train_small.csv")
input_df

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
#Read Excel(.xlsx)
excel_df = pd.read_excel("/content/Data Cleaning 1.xlsx")
excel_df

    Column1 Column2
0     Names  Scores
1     Rohit  Sharma
2     Virat      76
3   Rishabh       0
4       SKY       3
5      Axar      47
6       NaN     NaN
7    Hardik  Pandya
8    Jadeja       2
9     Rohit  Sharma
10    Rohit       9
11    Virat      76

In [29]:
#Json
json_df = pd.read_json("/content/sample_data/anscombe.json")
json_df

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [41]:
#Read Parquet file
parquet_df = pd.read_parquet("/content/parquet.parquet")
parquet_df

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2016-02-03 10:30:59,996,Dennis,Harris,dharrisrn@eepurl.com,Male,178.180.111.236,374288806662929,Greece,7/8/1965,263399.54,Editor,
996,2016-02-03 17:16:53,997,Gloria,Hamilton,ghamiltonro@rambler.ru,Female,71.50.39.137,,China,4/22/1975,83183.54,VP Product Management,
997,2016-02-03 05:02:20,998,Nancy,Morris,nmorrisrp@ask.com,,6.188.121.221,3553564071014997,Sweden,5/1/1979,NaN,Junior Executive,
998,2016-02-03 02:41:32,999,Annie,Daniels,adanielsrq@squidoo.com,Female,97.221.132.35,30424803513734,China,10/9/1991,18433.85,Editor,â€‹
999,2016-02-03 09:52:18,1000,Julie,Meyer,jmeyerrr@flavors.me,Female,217.1.147.132,374288099198540,China,,222561.13,,

###**Read Sql(MySQL)**

In [38]:
# Install the mysql server
!apt-get update
!apt-get install mysql-server > /dev/null

# Start the service
!service mysql start

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:5 https://cli.github.com/packages stable InRelease [3,917 B]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:8 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [85.0 kB]
Get:9 https://cli.github.com/packages stable/main amd64 Packages [356 B]
Get:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:11 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [62.6 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,677 kB]
Get:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease [24.6 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [70.9 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,297 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,608 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,388 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,607 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [4,014 kB]
Get:20 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,712 kB]
Get:21 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [38.8 kB]
Get:22 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,892 kB]
Get:23 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy/main amd64 Packages [75.3 kB]
Fetched 37.0 MB in 4s (9,433 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [39]:
# Execute the SQL script you uploaded
!mysql -u root < /content/admins.sql

ERROR 1046 (3D000) at line 3: No database selected

In [36]:
#Read Sql
# !pip install pymysql sqlalchemy
#conection
USER = "root"
PASSWORD = "42391122"
HOST = "localhost"
DB_NAME = "Practice"

# This creates the 'engine' object that was missing
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DB_NAME}")

#import engine from sqlalchemy
from sqlalchemy import create_engine

#Open and read the text from the file
with open("/content/admins.sql", "r") as f:
    query = f.read()

sql_df = pd.read_sql(query , con=engine)
sql_df

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 111] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 26 newly installed, 0 to remove and 2 not upgraded.
Need to get 29.7 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Err:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2
  404  Not Found [IP: 91.189.92.24 80]
Err:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.44-0ubuntu0.22.04.2
  404  Not Found [IP: 91.189.92.24 80]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libaio1 amd64 0.3.112-13build1 [7,176 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.4 [209 kB]
Err:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2
  404  Not Found [IP: 91.189.92.24 80]
Err:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.44-0ubuntu0.22.04.2
  404  Not Found [IP: 91.189.92.24 80]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:25 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Err:26 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.44-0ubuntu0.22.04.2
  404  Not Found [IP: 91.189.92.24 80]
Fetched 7,786 kB in 2s (4,650 kB/s)
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/m/mysql-8.0/mysql-client-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb  404  Not Found [IP: 91.189.92.24 80]
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/m/mysql-8.0/mysql-client-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb  404  Not Found [IP: 91.189.92.24 80]
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/m/mysql-8.0/mysql-server-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb  404  Not Found [IP: 91.189.92.24 80]
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/m/mysql-8.0/mysql-server-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb  404  Not Found [IP: 91.189.92.24 80]
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/m/mysql-8.0/mysql-server_8.0.44-0ubuntu0.22.04.2_all.deb  404  Not Found [IP: 91.189.92.24 80]
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?
mysql: unrecognized service

##**Output**

In [45]:
# Export/Write CSV
mixed.to_csv("CSV.csv", index=False)

In [51]:
# Export/Write Excel(.xlsx)
DF.to_excel("excel.xlsx", index =False)

In [52]:
# Export/Write Parquet
DF.to_parquet("excel.parquet", index =False)

In [54]:
rd_prqt= pd.read_parquet("/content/excel.parquet" )
rd_prqt

       Name  Age Gender  Indian Citizen
0     Sujal   22      M            True
1  Shashank   21      M            True
2      John   30      M            True
3     Elena   28      F           False

# **Data Exploration**

In [63]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [64]:
#View Top Rows
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [65]:
#View Bottom Rows
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [66]:
#Summary Statistics
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [68]:
#Column Names
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [69]:
#Missing Values
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

# **Data Selection**

In [71]:
#Select a Column
df['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [73]:
#Select Multiple Column
df[['latitude','longitude']]

      latitude  longitude
0        37.37    -122.05
1        34.26    -118.30
2        33.78    -117.81
3        33.82    -118.36
4        36.33    -119.67
...        ...        ...
2995     34.42    -119.86
2996     34.06    -118.14
2997     36.30    -119.70
2998     34.10    -117.12
2999     34.42    -119.63

[3000 rows x 2 columns]

In [78]:
#Select rows by index
df.iloc[1:4] # 1-3

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0

In [79]:
df.iloc[1:10:2] # 1-9 (every 2nd row)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [82]:
#Selection by condition
df[df['housing_median_age']>35]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
11,-119.12,35.85,37.0,736.0,166.0,564.0,138.0,2.4167,58300.0
...,...,...,...,...,...,...,...,...,...
2990,-118.23,34.09,49.0,1638.0,456.0,1500.0,430.0,2.6923,150000.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

# **Data Manipulation**

In [84]:
df['popperbedroom'] = df['total_rooms'] / df['population']
df['popperbedroom']

0       2.527651
1       1.866502
2       2.418464
3       1.367347
4       1.460000
          ...
2995    1.152623
2996    1.503719
2997    1.379509
2998    2.086957
2999    2.343958
Name: popperbedroom, Length: 3000, dtype: float64

In [87]:
#Drop Columns
df = df.drop(['popperbedroom'], axis=1)

KeyError: "['popperbedroom'] not found in axis"

In [88]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [93]:
#Some Numpy Concepts to add columns with random numbers
import numpy as np
df['random'] = np.random.randint(1,101,size=len(df))

In [94]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'random'],
      dtype='object')

In [97]:
#Rename Columns
df = df.rename(columns = {'random':'Random_no'})

In [99]:
df['Random_no']

0       52
1       32
2       98
3       89
4       50
        ..
2995    74
2996    47
2997    97
2998     9
2999    82
Name: Random_no, Length: 3000, dtype: int64

In [100]:
#Replace Values
df['Random_no'] = df['Random_no'].replace(52 , 22)
df['Random_no']

0       22
1       32
2       98
3       89
4       50
        ..
2995    74
2996    47
2997    97
2998     9
2999    82
Name: Random_no, Length: 3000, dtype: int64

# **Grouping and Aggregation**

In [105]:
#Group Data
gr_df = df.groupby('Random_no')
gr_df['latitude'].count() # how many lattitudes are assigned to same numbers

Random_no
1      33
2      25
3      32
4      37
5      27
       ..
96     26
97     32
98     25
99     26
100    32
Name: latitude, Length: 99, dtype: int64

In [123]:
df['total_bedrooms'].sum()

np.float64(1589852.0)

In [122]:
#Aggregate Data
gr_df['total_bedrooms'].sum()

Random_no
1      18659.0
2      10672.0
3      19910.0
4      20087.0
5      16421.0
        ...
96     14832.0
97     16550.0
98     17877.0
99     16073.0
100    13823.0
Name: total_bedrooms, Length: 99, dtype: float64

In [109]:
#Group by both latitude and the Random number(Multi columns/ Multi Groups)
multi_group = df.groupby(['Random_no','latitude']).size()
multi_group

Random_no  latitude
1          32.59       1
           32.70       1
           32.76       1
           33.14       1
           33.61       1
                      ..
100        37.76       1
           37.78       1
           38.01       2
           38.68       1
           38.73       1
Length: 2846, dtype: int64

In [111]:
#Again Multilevel grouping
multi = df.groupby(['Random_no','longitude']).mean()
multi[]

                     latitude  housing_median_age  total_rooms  \
Random_no longitude
1         -122.72       38.42                26.0       3604.0
          -122.47       38.29                14.0       3732.0
          -122.44       37.66                21.0       5108.0
          -121.99       36.96                16.0        875.0
          -121.98       37.22                46.0      10088.0
...                       ...                 ...          ...
100       -117.12       32.76                26.0       1221.0
          -117.09       32.64                19.0       2571.0
          -117.04       32.68                14.0       1320.0
          -116.69       33.50                13.0       1187.0
          -115.57       32.78                25.0       2007.0

                     total_bedrooms  population  households  median_income  \
Random_no longitude
1         -122.72             734.0      2605.0       704.0         3.0969
          -122.47             846.0      1277.0       775.0         2.5658
          -122.44            1510.0      3288.0      1405.0         3.1927
          -121.99             201.0       300.0       157.0         2.6250
          -121.98            1910.0      3728.0      1781.0         5.2321
...                             ...         ...         ...            ...
100       -117.12             331.0       620.0       296.0         2.4821
          -117.09             791.0      1205.0       783.0         1.6200
          -117.04             270.0       943.0       260.0         5.0947
          -116.69             255.0       442.0       179.0         1.9107
          -115.57             301.0      1135.0       332.0         5.1280

                     median_house_value
Random_no longitude
1         -122.72              143800.0
          -122.47              208000.0
          -122.44              252600.0
          -121.99              377300.0
          -121.98              500001.0
...                                 ...
100       -117.12              123600.0
          -117.09              131300.0
          -117.04              152700.0
          -116.69              155700.0
          -115.57               99600.0

[2854 rows x 8 columns]

In [112]:
multi['latitude']

Random_no  longitude
1          -122.72      38.42
           -122.47      38.29
           -122.44      37.66
           -121.99      36.96
           -121.98      37.22
                        ...
100        -117.12      32.76
           -117.09      32.64
           -117.04      32.68
           -116.69      33.50
           -115.57      32.78
Name: latitude, Length: 2854, dtype: float64

In [113]:
df['latitude']

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

**Note: Since Rows in multi drops from 33000 to 2842 thhat means we have only 2842 unique rows and rest are duplicates**

# **Sorting**

In [129]:
#Sort by columns
sorted_bedrooms = df.sort_values(['total_bedrooms'],ascending=True)
sorted_bedrooms['total_bedrooms']

1115       2.0
2640       3.0
740        4.0
1355       5.0
2690       7.0
         ...
292     4522.0
2014    4585.0
978     5027.0
2429    5033.0
1563    5419.0
Name: total_bedrooms, Length: 3000, dtype: float64

In [125]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'Random_no'],
      dtype='object')

In [137]:
#Sort by multiple columns
df.sort_values(['total_rooms','total_bedrooms'],ascending=[False, True])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Random_no
2429,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0,98
978,-121.53,38.48,5.0,27870.0,5027.0,11935.0,4855.0,4.8811,212200.0,85
292,-116.36,33.78,6.0,24121.0,4522.0,4176.0,2221.0,3.3799,239300.0,12
1146,-117.27,33.15,4.0,23915.0,4135.0,10877.0,3958.0,4.6357,244900.0,28
1597,-117.12,33.49,4.0,21988.0,4055.0,8824.0,3252.0,3.9963,191100.0,76
...,...,...,...,...,...,...,...,...,...,...
2690,-118.06,34.03,36.0,21.0,7.0,21.0,9.0,2.3750,175000.0,75
641,-121.04,37.67,16.0,19.0,19.0,166.0,9.0,0.5360,162500.0,42
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.5360,275000.0,9
740,-117.12,32.66,52.0,16.0,4.0,8.0,3.0,1.1250,60000.0,65
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0,30

**NOTE:**   

**total_rooms :** False *italicized text* (Descending): The rows with the largest number of rooms will be at the very top.

**total_bedrooms :** True (Ascending): For rows that have the same room count, the one with the smallest number of bedrooms will appear first.